body{background-color: dimgray;
overflow-x:hidden;}
.nav-bar li,.nav-bar2 li{list-style-type: none;
display: inline-block;padding: 10px;
}
.nav-bar{float: left;}
.nav-bar2{position: relative;
left: 700px;}
.nav-bar a,.nav-bar2 a{color:deepskyblue;}
.nav-bar,.nav-bar2{background: #FAFAFA;
box-shadow: 5px 10px #888888;
border-radius: 15px}
.container-fluid>div{height: 650px;}
/*
.face{width: 600px;
height: 450px;
background-color: antiquewhite;}
.skills{width: 600px;
height: 450px;
background-color: darkgoldenrod;}
*/
