body{margin: 0;}
body li{list-style-type: none;}
.barre a{text-decoration: none;}
.barre{list-style-type: none;
    position: relative;
    left: 200px;
    line-height: 100px;}
.barre li{display: inline-block;
    margin-left: 50px;}
/*
.slide1,.slide2,.slide3,.slide4,.slide5 {
    position: absolute;
    width: 100%;
    height: 85%;}
.slide1{
    background-image: url(/assets/img/slide/eq-office-01.jpg);
    animation:fade 8s infinite;}
.slide2{
    background-image: url(/assets/img/slide/eq-office-02.jpg);
    animation:fade2 8s infinite;}
.slide3{
    background-image: url(/assets/img/slide/eq-office-03.jpg);
    animation:fade3 8s infinite;}
.slide4{
    background-image: url(/assets/img/slide/eq-office-04.jpg);
    animation:fade4 8s infinite;
background-repeat: no-repeat}
.slide5{
    background-image: url(/assets/img/slide/eq-office-05.jpg);
    animation:fade5 8s infinite;}
@keyframes fade
{
    0%   {opacity:1}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    100% { opacity: 1}
}
@keyframes fade2
{
    0%   {opacity:0}
    33.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
}
@keyframes fade3
{
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
}

@keyframes fade4
{
    0%   {opacity:0}
    33.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
}
@keyframes fade5
{
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
}
*/

.nav-der{display: none;}
.bouton1{position: relative;
    left: 380px;
    font-size: 19px;
    border: 1.5px solid;
    padding: 10px 20px;
    border-radius: 30px;}
.container{
    height: 520px;
}

.container h1{position: relative;
    left: 60px;
    font-size: 64px;
    font-weight: 700;}
.mini-foot{width: 400px;
    padding: 28px 40px 28px 0px;
    min-height: auto;
    min-width: auto;
    border-right: 1px solid;
    line-height: 10px;}
.mini-foot select{width: 336px;
    height: 30px;}
.mini-foot p{font-size: 11px;}
.mini-foot2 {position: relative;
    left: 450px;
    bottom:120px;
    padding: 28px 40px;
    line-height: 10px;}
.mini-foot2 p{font-size: 11px;}
.mini-foot2 div>span{font-size: 25px;}
.bouton2{position: relative;
    left: 1100px;
    bottom: 170px;
    font-size: 19px;
    text-decoration: none;
    border: 1.5px solid;
    padding: 15px 30px; 
    border-radius: 30px;
    line-height: 10px;}
.foot1{height: 114px;
    padding: 0 50px;}
.gb1-img{width: 675px;
    height: 400px;
    background-color: #F9F8F7;}
.gb1-img2{width: 675px;
    height: 400px;
    background-color: #ECEAE7}
.g-block1 img{margin: 80px;
    position: relative;
    bottom: px;
    left: 13px;}
.block{position: absolute;
    z-index: -1;}
.bloc1{border: 1px solid;
    width: 675px;
    height: 800px;
    background-color: #282729;
    position: relative;
    left: 675px;
    bottom:764px; }
.bloc1 div>span:nth-of-type(1){color:#A37B67;
    font-size: 16px;
}
.bloc1 div>h4{color: #fff;font-size: 32px;
    width: 440px;
    position: relative;
    top:200px;
}
.bloc1 div>span:last-child{border: 2px solid #fff;
    font-size: 19px;
    position: relative;
    top: 350px;
    padding: 15px;
    border-radius: 30px;}
.bloc1 div{height: 700px;
    width: 500px;
    margin: 50px;}