
*{
  transition: 1s;
}

body {
  padding-top: 2em;
  background-image: url(images/explosion-wallpaper-3%20-%20Copy.png);
  background-size:cover;
  transition: 1s;
  font-family: 'Baloo Bhai', cursive;
}

.circle-container {
  position: relative;
  perspective: 1000;	
  margin: 0 auto;	
}

.circle-container:hover .circle {
  transform: rotate3d(45, 45, 0, 180deg);
}

.circle-container:hover .outer-ring {
  transform: rotate3d(45, 0, 0, 180deg);
}

.circle-container:hover .outer-outer-ring {
  transform: rotate3d(0, 45, 0, 180deg);
}

.circle-container, .front, .back {
  width: 575px;
  height: 575px;
  background-color: rgba(0,0,0,0);
}

.circle, .outer-ring, .outer-outer-ring {
  transition: 1.5s;
  transform-style: preserve-3d;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.circle {
  position: relative;
  width: 575px;
  height: 575px;
}

.front, .back {
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background-color: #fff;

}

.front img  {
  margin-left: 10%;
  margin-top: 35%;
}

.back {
  transform: rotate3d(45,45,0,180deg);
  background-color: #fff;

}
.back h2{
  margin-left: 25%;
  margin-top: 20%;
  font-family: 'Oleo Script', cursive;
  font-size: 80px;
}		



.back-logo {
  width: 60%;
  display: block;
  margin: 2em auto;
}

.outer-ring {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 591px;
  height: 591px;
  background-color: rgba(255,255,255,0);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

.outer-outer-ring {
  position: absolute;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 511px;
  height: 511px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}
@media (min-width: 1200px){}
@media (max-width: 1199px){
  .outer-ring{
    border-radius: 5%;
    width: 470px;
  }
  .front, .back{
    border-radius: 5%; 
    width: 450px;
    margin-left: 65px;
  }
  .front img  {
    margin-left: 0;
    margin-top: 30%;
    width: 450px;
  }
}
@media (max-width: 991px){
  .outer-ring{
    border-radius: 5%;
  }
  .front, .back{
    border-radius: 5%;
    width: 470px;
    margin-left: 60px;
  }
  .front img  {
    margin-left: -40px;
    margin-top: 30%;
    width: 450px;

  }
}
@media (max-width: 767px){
  .outer-ring{
    border-radius: 5%;
    width: 470px;
    margin-left: 60px;
  }
  .front, .back{
    border-radius: 5%;  
    width: 470px;
    margin-left: 65px;
  }
  .front img  {
    margin-left: 0;
    margin-top: 30%;
    width: 450px;

  }
}
@media (max-width: 575px){
  .outer-ring{
    border-radius: 5%;
    width: 470px;
  }
  .front, .back{
    border-radius: 5%; 
    width: 450px;
    margin-left: 65px;
  }
  .front img  {
    margin-left: 0;
    margin-top: 30%;
    width: 450px;
  }
}
@media (max-width: 400px){
  .outer-ring{
    border-radius: 5%;
    width: 470px;
  }
  .front, .back{
    border-radius: 5%; 
    width: 420px;
    margin-left: 65px;
  }
  .front img  {
    margin-left: 0;
    margin-top: 30%;
    width: 450px;

  }
}
.box{
  position:absolute;
  top:90%;
  left:50%;
  transform : translate(-50% ,-50%);
}

.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn-white{
  background:#fff;
  color:#000;
}

.btn:hover{
  box-shadow:0px 10px 10px rgba(0,0,0,0.2);
  transform : translateY(-3px);
}

.btn:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2)
    transform:translateY(-1px);
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn-white::after {
  background-color:ghostwhite;
}

.btn-animation-1:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  } 
  100%{
    opacity:1;
    transform:translateY(0);
  }
}
.title {
  font-family: 'Baloo Bhai', cursive;
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
}

h1 {
  background-image: url('images/font_image.jpg');
  background-size: contain;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 80px;
  line-height: .75;
  margin: 10px 0;
}
/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 3px;
  color: #FFF;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: 'Baloo Bhai', cursive;
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
}
